body {
  background-color: #00d1b2;
  background-color: white;
  background: url('../img/bg5.jpg')no-repeat center fixed;
  min-height: 100%;
  max-height: 100%;
}

.bar-title{
    background-color: #00d1b2;
    min-height: 100%;
    color: white;
    background-color:#34495E;
    margin-bottom: 20px;
    padding:10px;
    padding-bottom: 20px;
}

.body-content{
    position: relative;
    min-height: 75vh;
}

.search-city {
     justify-content: center;
}

.field-form{
    display: flex;
    justify-content: center;
}

div.form{
    text-align:center;
    margin-left: 50% auto;
    margin-right: 50% auto;
}

.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}

.city-box{
    border: 0.1px solid #E5E7E9;
    border: 0.1px solid rgba(229, 231, 233,0.8);
    background-color:rgba(229, 231, 233,0.3);
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left:20%;
    margin-right:20%;
}

.city-box p{
    text-align:center;
}

.title{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
}

.subtitle{
    font-size:20px;
    font-family:'Poppins', sans-serif;
}

.description{
    font-size:18px;
    font-family:'Poppins', sans-serif;
}


.pageContentWrapper{
  /*margin-bottom:100%;/* Height of footer*/
    position: relative;
    min-height: 100vh;
}


.footer{
    background-color: #00d1b2;
    /*padding:3rem 1.5rem 6rem;*/
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}


.footer p{
    text-align:center;
    color: #ffffff;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
}

#linkedin{
    color: #ffffff;
    font-size:25px;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'IBM Plex Sans', sans-serif;
}